.jumbotron {
    background-color:#a2d9ff;
}

#about-me{
    background-color: #F3F4F5;
}

#gallery{
    background-color: #a2d9ff;
}

#contact-me{
    background-color: #F3F4F5;
}

.footer {
    background-color: #a2d9ff;
}

